body {
  background-color: #0a0a0b;
  color: #d3d3d3;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0b;
}

*::-webkit-scrollbar-thumb {
  background-color: #26282B;
  border-radius: 20px;
  border: 3px solid #0a0a0b;
}